<html>
  <head>
    <title>404 - The given page was not found</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="container">
    <div class="jumbotron">
      <h3>404 - Page Not Found</h3>
      <h4 class="text-info"><%=url %> was not found </h4>
      <h6>Please check the path one two three four five six times. <h6>
    </div>
    <h3>Don't hit your computer for the reason you didn't find what you are looking for. Otherwise you can be this person.</h3>
    <img src="img/404.gif" class="img-responsive center-block" alt="NOT FOUND GIF" />
  </body>
</html>
